@charset "utf-8";
/* CSS Document */
/* default padding/margin */
*{
	margin: 0;
	padding: 0;
}

body {
    position: relative;
}
/* ---------------------- */

/* ----Header content---- */
/* ---------------------- */
.logo {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 80px;
    height: 80px;
}

.title {
    font: 32px Raleway, sans-self;
}

.site-header {
    width: 100%;
	height: 58px;
	border-bottom: 1px solid #BBBBBB;
	background-color: #7c7c7c;
    display: block;
}

.menu {
    height: 58px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.menu-small{
    height: 58px;
    display: none;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.menu-item {
    display: flex;
    background-color: #7c7c7c;
    height: 100%;
    margin: 0px 10px;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    color: #BBBBBB;
    cursor: pointer;
}

.menu-item-small {
    display: flex;
    background-color: #7c7c7c;
    height: 100%;
    margin: 0px 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-item-small:hover {
    color: #BBBBBB;
    cursor: pointer;
}

button.menu-toggle {
    display: none;
    width: 100%;
    height: 58px;
    padding: 4.8px 12px;
    background-color: transparent;
}

#icon-open {
    display:inline-block;
    width: 30px;
    height: 33px;
    cursor: pointer;
}

#icon-close{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* ---------------- */

/* ----sections---- */
/* ---------------- */
.section a{
    list-style: none;
    outline: none;
}

.section h1{
    text-align: center;
}
/* ---------------- */


/* ----homepage---- */
/* ---------------- */
#homepage {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#homepage img{
    width: 100%;
    height: 100%;
    max-width: 960px;
    max-height: 640px;
    margin-top: 15px;
}
/* ------------------- */

/* ----productpage---- */
/* ------------------- */
#productpage {
    display: none;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.products{
    display: inline-table;
    height: 300px;
    width: 250px;
    border: 0.5px #7c7c7c solid;
    border-radius: 20px;
    padding: 12px 8px 0px 8px;
    margin: 15px;
    text-align: center;
}

.products img{
    width: 100px;
    height: 100px;
}

.products button{
    height: 30px;
    width: 48px;
    border-radius: 15px;
    border: transparent;
    font-size: 12px;
    background-color: #ebdb01;
    outline: none;
    cursor: pointer;
}

.products button:hover{
    background-color: #ca2a2a;
}

.search-container{
    display: flex;
    height: 40px;
	background: transparent;
	border: 0.5px solid #BBBBBB;
	border-radius: 8px;
	padding: 0px 5px;
	align-items: center;
}

/* css for search field class */
.search-field{
	background: transparent;
	border: none;
	padding: 0px 5px;
	width: 100%;
	overflow: hidden;
	outline: none;
	opacity: 25%;
}

/* css for search field class (hover) */
.search-field:hover{
	transition: opacity .25s ease;
	opacity: 100%;
}

/* -------------------- */


/* ----locationpage---- */
/* -------------------- */
#locationpage {
    display: none;
    text-align: center;
}

#locationpage img{
    height: 100%;
    width: 100%;
    max-height: 536x;
    max-width: 715px;
}

.contact {
    width: 100%;
    height: 90px;
    max-width: 800px;
    padding: 3px 0px;
    margin: auto;
    border: 0.5px #7c7c7c solid;
    border-radius: 15px;
    background-color: #e9b545;
}
/* -------------------- */


/* ----newspage---- */
/* -------------------- */
#newspage {
    display: none;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#newspage img{
    height: 250px !important;
    width: 150px !important;
}

#newspage a{
    list-style: none;
    outline: none;
    text-decoration: none;
    color: #000000;
}
/* -------------------- */


/* ----guestbookpage---- */
/* -------------------- */
#guestbookpage {
    display: none;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#guestbookpage #fullname{
    width: 100%;
    height: 40px;
    margin: 16px 0px;
    padding: 8px;
}

#guestbookpage #comment{
    width: 100%;
    height: 62px;
    margin: 16px 0px;
    padding: 8px;
}

#guestbookpage button{
    width: 120px;
    height: 50px;
    margin: 16px 0px;
    border-radius: 25px;
    background-color: #7c7c7c;
    color: white;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

iframe {
    border: none;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

/* for small screen devices */
@media screen and (max-width: 526px){
    .menu{
        display: none;
    }
    .menu-small {
        display: block;
    }
    .menu-item-small {
        display: none;
        margin: 0px ;
        border: 0.5px solid #BBBBBB;
    }
    button.menu-toggle {
        display: block;
    }
}